In [164]:
import pandas as pd
import numpy as np

In [3]:
car = pd.read_csv("quikr_car.csv")

In [4]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [6]:
car.shape

(892, 6)

In [7]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [8]:
car["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [9]:
car["name"].unique()

array(['Hyundai Santro Xing XO eRLX Euro III', 'Mahindra Jeep CL550 MDI',
       'Maruti Suzuki Alto 800 Vxi',
       'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
       'Ford EcoSport Titanium 1.5L TDCi', 'Ford Figo', 'Hyundai Eon',
       'Ford EcoSport Ambiente 1.5L TDCi',
       'Maruti Suzuki Alto K10 VXi AMT', 'Skoda Fabia Classic 1.2 MPI',
       'Maruti Suzuki Stingray VXi', 'Hyundai Elite i20 Magna 1.2',
       'Mahindra Scorpio SLE BS IV', 'Audi A8', 'Audi Q7',
       'Mahindra Scorpio S10', 'Maruti Suzuki Alto 800',
       'Hyundai i20 Sportz 1.2', 'Maruti Suzuki Alto 800 Lx',
       'Maruti Suzuki Vitara Brezza ZDi', 'Maruti Suzuki Alto LX',
       'Mahindra Bolero DI', 'Maruti Suzuki Swift Dzire ZDi',
       'Mahindra Scorpio S10 4WD', 'Maruti Suzuki Swift Vdi BSIII',
       'Maruti Suzuki Wagon R VXi BS III',
       'Maruti Suzuki Wagon R VXi Minor',
       'Toyota Innova 2.0 G 8 STR BS IV', 'Renault Lodgy 85 PS RXL',
       'Skoda Yeti Ambition 2.0 TDI CR 4x2',
       'Maruti Suzuki Baleno Delta 1.2',
       'Renault Duster 110 PS RxZ Diesel Plus',
       'Renault Duster 85 PS RxE Diesel', 'Honda City 1.5 S MT',
       'Maruti Suzuki Dzire', 'Honda Amaze', 'Honda Amaze 1.5 SX i DTEC',
       'Honda City', 'Datsun Redi GO S', 'Maruti Suzuki SX4 ZXI MT',
       'Mitsubishi Pajero Sport Limited Edition',
       'Maruti Suzuki Swift VXi 1.2 ABS BS IV', 'Honda City ZX CVT',
       'Maruti Suzuki Wagon R LX BS IV', 'Tata Indigo eCS LS CR4 BS IV',
       'Volkswagen Polo Highline Exquisite P',
       'I want to sell my car Tata Zest', 'Chevrolet Spark LS 1.0',
       'Renault Duster 110PS Diesel RxZ', 'Mini Cooper S 1.6',
       'Skoda Fabia 1.2L Diesel Ambiente', 'Renault Duster',
       'Mahindra Scorpio S4', 'Mahindra Scorpio VLX 2WD BS IV',
       'Mahindra Quanto C8', 'Ford EcoSport', 'Honda Brio',
       'Volkswagen Vento Highline Plus 1.5 Diesel AT',
       'Hyundai i20 Magna', 'Toyota Corolla Altis Diesel D4DG',
       'Hyundai Verna Transform SX VTVT',
       'Toyota Corolla Altis Petrol Ltd', 'Honda City 1.5 EXi New',
       'Skoda Fabia 1.2L Diesel Elegance', 'BMW 3 Series 320i',
       'Maruti Suzuki A Star Lxi', 'Toyota Etios GD',
       'Ford Figo Diesel EXI Option',
       'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
       'Chevrolet Beat LT Diesel', 'BMW 7 Series 740Li Sedan',
       'Mahindra XUV500 W8 AWD 2013', 'Hyundai i10 Magna 1.2',
       'Hyundai Verna Fluidic New', 'Maruti Suzuki Swift VXi 1.2 BS IV',
       'Maruti Suzuki Ertiga ZXI Plus', 'Maruti Suzuki Ertiga Vxi',
       'Maruti Suzuki Ertiga VDi', 'Maruti Suzuki Alto LXi BS III',
       'Hyundai Grand i10 Asta 1.1 CRDi', 'Honda Amaze 1.2 S i VTEC',
       'Hyundai i20 Asta 1.4 CRDI 6 Speed', 'Ford Figo Diesel EXI',
       'Maruti Suzuki Eeco 5 STR WITH AC HTR', 'Maruti Suzuki Ertiga ZXi',
       'Maruti Suzuki Esteem LXi BS III', 'Maruti Suzuki Ritz VXI',
       'Maruti Suzuki Ritz LDi', 'Maruti Suzuki Dzire VDI',
       'Toyota Etios Liva G', 'Hyundai i20 Sportz 1.4 CRDI',
       'Chevrolet Spark', 'Nissan Micra XV', 'Maruti Suzuki Swift',
       'Honda Amaze 1.5 S i DTEC', 'Chevrolet Beat', 'Toyota Corolla',
       'Honda City 1.5 V MT', 'Ford EcoSport Trend 1.5L TDCi',
       'Hyundai i20 Asta 1.2', 'Tata Indica V2 eLS',
       'Maruti Suzuki Alto 800 Lxi', 'Hindustan Motors Ambassador',
       'Toyota Corolla Altis 1.8 GL', 'Toyota Corolla Altis 1.8 J',
       'Toyota Innova 2.5 GX BS IV 7 STR',
       'Volkswagen Jetta Highline TDI AT',
       'Volkswagen Polo Comfortline 1.2L P', 'Volkswagen Polo',
       'Mahindra Scorpio', 'Nissan Sunny', 'Hyundai Elite i20',
       'Renault Kwid', 'Mahindra Scorpio VLX Airbag',
       'Chevrolet Spark LT 1.0', 'Datsun Redi GO T O',
       'Maruti Suzuki Swift RS VDI', 'Fiat Punto Emotion 1.2',
       'Hyundai i10 Sportz 1.2', 'Chevrolet Beat LT Opt Diesel',
       'Chevrolet Beat LS Diesel', 'Tata Indigo CS',
       'Maruti Suzuki Swift VDi', 'Hyundai Eon Era Plus',
       'Mahindra XUV500', 'Ford Fiesta', 'Maruti Suzuki Wagon R',
       'Hyundai i20', 'Tata Indigo eCS LX TDI BS III',
       'Hyundai Fluidic Verna 1.6 CRDi SX',
       'Commercial , DZire LDI, 2016, for sale', 'Fiat Petra ELX 1.2 PS',
       'Hyundai Santro Xing XS', 'Maruti Suzuki Ciaz VXi Plus',
       'Maruti Suzuki Zen VX', 'Hyundai Creta 1.6 SX Plus Petrol',
       'Tata indigo ecs LX, 201', 'Mahindra Scorpio SLX',
       'Toyota Innova 2.5 G BS III 8 STR',
       'Maruti Suzuki Wagon R LXI BS IV', 'Tata Nano Cx BSIV',
       'Maruti Suzuki Alto Std BS IV', 'Maruti Suzuki Wagon R LXi BS III',
       'Maruti Suzuki Swift VXI BSIII',
       'Tata Sumo Victa EX 10 by 7 Str BSIII', 'MARUTI SUZUKI DESI',
       'Volkswagen Passat Diesel Comfortline AT',
       'Renault Scala RxL Diesel Travelogue',
       'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT',
       'Hyundai i20 Active 1.2 SX', 'Mahindra Xylo E4',
       'Mahindra Jeep MM 550 XDB', 'Mahindra Bolero SLE BS IV',
       'Force Motors Force One LX ABS 7 STR', 'Maruti Suzuki SX4',
       'Toyota Etios', 'Honda City ZX VTEC',
       'Maruti Suzuki Wagon R LX BS III', 'Honda City VX O MT Diesel',
       'Mahindra Thar CRDe 4x4 AC',
       'Audi A4 1.8 TFSI Multitronic Premium Plus',
       'Mercedes Benz GLA Class 200 CDI Sport',
       'Land Rover Freelander 2 SE', 'Renault Kwid RXT',
       'Tata Aria Pleasure 4X2', 'Mercedes Benz B Class B180 Sports',
       'Datsun GO T O', 'Honda Jazz VX MT',
       'Hyundai i20 Active 1.4L SX O', 'Mini Cooper S',
       'Maruti Suzuki Ciaz ZXI Plus', 'Chevrolet Tavera Neo',
       'Hyundai Eon Sportz', 'Tata Sumo Gold Select Variant',
       'Maruti Suzuki Wagon R 1.0', 'Maruti Suzuki Esteem VXi BS III',
       'Chevrolet Enjoy 1.4 LS 8 STR', 'Maruti Suzuki Wagon R 1.0 VXi',
       'Nissan Terrano XL D Plus', 'Renault Duster 85 PS RxL Diesel',
       'Maruti Suzuki Dzire ZXI', 'Renault Kwid RXT Opt',
       'Maruti Suzuki Maruti 800 Std', 'Renault Kwid 1.0 RXT AMT',
       'Renault Scala RxL Diesel',
       'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
       'Chevrolet Beat LS Petrol', 'Hyundai Accent GLX', 'Yama',
       'Maruti Suzuki Swift LDi', 'Mahindra TUV300 T4 Plus',
       'Tata Indica V2 Xeta e GLE', 'Tata Indigo CS LS DiCOR',
       'Mahindra Scorpio VLX Special Edition BS III',
       'Tata Indica eV2 LS', 'Honda Accord',
       'Ford EcoSport Titanium 1.5 TDCi', 'Maruti Suzuki Ertiga',
       'Mahindra Scorpio 2.6 CRDe', 'Honda Mobilio',
       'Toyota Corolla Altis', 'Skoda Laura', 'Hyundai Verna Fluidic',
       'Maruti Suzuki Vitara Brezza', 'Tata Manza Aura Quadrajet',
       'Chevrolet Sail UVA Petrol LT ABS',
       'Hyundai Verna Fluidic 1.6 VTVT SX',
       'Audi A4 2.0 TDI 177bhp Premium', 'Hyundai Elantra SX',
       'Mahindra Scorpio VLX 4WD Airbag', 'Mahindra KUV100 K8 D 6 STR',
       'Hyundai Grand i10', 'Hyundai i10', 'Hyundai i20 Active',
       'Datsun Redi GO', 'Toyota Etios Liva', 'Hyundai Accent',
       'Hyundai Verna', 'Toyota Fortuner', 'Hyundai i10 Sportz',
       'Mahindra Bolero Power Plus SLE', 'selling car Ta',
       'Honda City 1.5 V MT Exclusive', 'Chevrolet Spark LT 1.0 Airbag',
       'Tata Indigo eCS VX CR4 BS IV', 'Tata Zest 90',
       'Skoda Rapid Elegance 1.6 TDI CR MT', 'Tata Vista Quadrajet VX',
       'Maruti Suzuki Alto K10 VXi AT', 'Maruti Suzuki Zen LXi BS III',
       'Maruti Suzuki Swift Dzire Tour LDi', 'Honda City ZX EXi',
       'Chevrolet Beat Diesel', 'Maruti Suzuki Swift Dzire car',
       'Hyundai Verna 1.4 VTVT', 'Toyota Innova 2.5 E MS 7 STR BS IV',
       'Maruti Suzuki Maruti 800 Std – Befo',
       'Hyundai Elite i20 Asta 1.4 CRDI',
       'Maruti Suzuki Swift Dzire Tour (Gat',
       'Maruti Suzuki Versa DX2 8 SEATER BSIII',
       'Tata Indigo LX TDI BS III',
       'Volkswagen Vento Konekt Diesel Highline',
       'Mercedes Benz C Class 200 CDI Classic', 'URJE',
       'Hyundai Santro Xing GLS', 'Maruti Suzuki Omni Limited Edition',
       'Hyundai Sonata Transform 2.4 GDi MT',
       'Hyundai Elite i20 Sportz 1.2', 'Honda Jazz S MT',
       'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
       'Maruti Suzuki Zen LXi BSII',
       'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
       'Swift Dzire Tour 27 Dec 2016 Regis', 'Maruti Suzuki Alto K10 VXi',
       'Hyundai Grand i10 Asta 1.2 Kappa VTVT', 'Mahindra XUV500 W8',
       'Hyundai i20 Magna O 1.2', 'Renault Duster 85 PS RxL Explore LE',
       'Honda Brio V MT', 'Mahindra TUV300 T8',
       'Nissan X Trail Select Variant', 'Ford Ikon 1.3 CLXi NXt Finesse',
       'Toyota Fortuner 3.0 4x4 MT', 'Tata Manza ELAN Quadrajet',
       'Tata zest x', 'Mahindra xyl',
       'Mercedes Benz A Class A 180 Sport Petrol', 'Tata Indigo LS',
       'Hyundai i20 Magna 1.2', 'Used Commercial Maruti Omn',
       'Honda Amaze 1.5 E i DTEC', 'Hyundai Verna 1.6 EX VTVT',
       'BMW 5 Series 520d Sedan', 'Skoda Superb 1.8 TFSI AT',
       'Audi Q3 2.0 TDI quattro Premium', 'Mahindra Bolero DI BSII',
       'Maruti Suzuki Zen Estilo LXI Green CNG',
       'Ford Figo Duratorq Diesel Titanium 1.4',
       'Maruti Suzuki Wagon R VXI BS IV', 'Mahindra Logan Diesel 1.5 DLS',
       'Tata Nano GenX XMA', 'Honda City SV', 'Ford Figo Petrol LXI',
       'Hyundai i10 Magna 1.2 Kappa2', 'Toyota Corolla H2',
       'Maruti Suzuki Swift Dzire Tour VXi', 'Tata Indigo CS eLS BS IV',
       'Hyundai Xcent Base 1.1 CRDi', 'Hyundai Accent Executive Edition',
       'Tata Zest XE 75 PS Diesel', 'Maruti Suzuki Dzire LDI',
       'Tata Sumo Gold LX BS IV', 'Toyota Corolla Altis GL Petrol',
       'Maruti Suzuki Eeco 7 STR', 'Toyota Fortuner 3.0 4x2 MT',
       'Mahindra XUV500 W6', 'Tata Tigor Revotron XZ',
       'Maruti Suzuki 800', 'Honda Mobilio S i DTEC',
       'Hyundai Verna 1.6 CRDI E', 'Maruti Suzuki Omni Select Variant',
       'Tata Indica', 'Hyundai Santro Xing', 'Maruti Suzuki Zen Estilo',
       'Honda Brio VX AT', 'Maruti Suzuki Wagon R Select Variant',
       'Tata Nano Lx BSIV', 'Jaguar XE XE Portfolio',
       'Hyundai Xcent S 1.2', 'Hyundai Eon Magna Plus',
       'Maruti Suzuki Ritz GENUS VXI',
       'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
       'Hyundai Eon D Lite Plus', 'Honda Amaze 1.2 VX i VTEC',
       'Maruti Suzuki Estilo VXi ABS BS IV',
       'Maruti Suzuki Vitara Brezza LDi O', 'Toyota Innova 2.0 V',
       'Hyundai Creta 1.6 SX Plus Petrol AT', 'Mahindra Scorpio Vlx BSIV',
       'Mitsubishi Lancer 1.8 LXi', 'Maruti Suzuki Maruti 800 AC',
       'Maruti Suzuki Alto 800 LXI CNG O', 'Ford Fiesta SXi 1.6 ABS',
       'Maruti Suzuki Ritz VDi', 'Maruti Suzuki Estilo LX BS IV',
       'Audi A6 2.0 TDI Premium', 'Maruti Suzuki Alto',
       'Maruti Suzuki Baleno Sigma 1.2', 'Hyundai Verna 1.6 SX VTVT AT',
       'Maruti Suzuki Swift GLAM', 'Hyundai Getz Prime 1.3 GVS',
       'Hyundai Santro', 'Hyundai Getz Prime 1.3 GLX',
       'Chevrolet Beat PS Diesel', 'Ford EcoSport Trend 1.5 Ti VCT',
       'Tata Indica V2 DLG', 'BMW X1 xDrive20d xLine',
       'Honda City 1.5 V AT', 'Tata Nano', 'Chevrolet Cruze LTZ AT',
       'Hyun', 'Maruti Suzuki Swift Dzire VDi', 'Mahindra XUV500 W10',
       'Maruti Suzuki Alto K10 LXi CNG', 'Hyundai Accent GLE',
       'Force Motors One SUV', 'Datsun Go Plus T O',
       'Chevrolet Spark 1.0 LT', 'Toyota Etios Liva GD',
       'Renault Duster 85PS Diesel RxL Optional with Nav',
       'Chevrolet Enjoy', 'BMW 5 Series 530i', 'Chevrolet Cruze LTZ',
       'Jeep Wrangler Unlimited 4x4 Diesel',
       'Hyundai Verna VGT CRDi SX ABS', 'Maruti Suzuki Omni',
       'Maruti Suzuki Celerio VDi', 'Tata Zest Quadrajet 1.3',
       'Tata Indigo CS eLX BS IV', 'Hyundai i10 Era',
       'Tata Indigo eCS LX CR4 BS IV', 'Tata Indigo Marina LS',
       'Commercial Chevrolet Sail Hatchback ca', 'Hyundai Xcent SX 1.2',
       'Tata Nano LX Special Edition', 'Commercial Car Ta',
       'Renault Duster 110 PS RxZ Diesel',
       'Maruti Suzuki Wagon R AX BSIV', 'Maruti Suzuki Alto K10 New',
       'tata Indica', 'Mahindra Xylo E8', 'Tata Manza Aqua Quadrajet',
       'Used bt new conditions ta', 'Renault Kwid 1.0', 'Sale tata',
       'Tata Venture EX 8 STR', 'Maruti Suzuki Swift Dzire Tour LXi',
       'Maruti Suzuki Alto LX BSII', 'Skoda Octavia Classic 1.9 TDI MT',
       'Maruti Suzuki Omni LPG BS IV', 'Tata Sumo Gold EX BS IV',
       'Tata indigo 2017 top model..', 'Hyundai Verna 1.6 CRDI SX',
       'Mahindra Scorpio SLX 2.6 Turbo 8 Str', 'Ford Ikon 1.6 Nxt',
       'Tata indigo', 'Toyota Innova 2.5 V 7 STR', 'Nissan Sunny XL',
       'Maruti Suzuki Swift VDi BS IV',
       'very good condition tata bolts are av', 'Toyota Innova 2.0 G4',
       'Sale Hyundai xcent commerc', 'Maruti Suzuki Swift VDi ABS',
       'Hyundai Elite i20 Asta 1.2', 'Volkswagen Polo Trendline 1.5L D',
       'Toyota Etios Liva Diesel', 'Maruti Suzuki Ciaz ZXi Plus RS',
       'Hyundai Elantra 1.8 S', 'Ford EcoSport Trend 1.5L Ti VCT',
       'Jaguar XF 2.2 Diesel Luxury',
       'Audi Q5 2.0 TDI quattro Premium Plus', 'BMW 3 Series 320d Sedan',
       'Maruti Suzuki Swift ZXi 1.2 BS IV', 'BMW X1 sDrive20d',
       'Maruti Suzuki S Cross Sigma 1.3', 'Maruti Suzuki Ertiga LDi',
       'Volkswagen Vento Comfortline Petrol', 'Mahindra KUV100',
       'Maruti Suzuki Swift Dzire Tour VDi', 'Mahindra Scorpio 2.6 SLX',
       'Maruti Suzuki Omni 8 STR BS III',
       'Volkswagen Jetta Comfortline 1.9 TDI AT', 'Volvo S80 Summum D4',
       'Toyota Corolla Altis VL AT Petrol',
       'Mitsubishi Pajero Sport 2.5 AT', 'Chevrolet Beat LT Petrol',
       'BMW X1', 'Mercedes Benz C Class C 220 CDI Avantgarde',
       'Volkswagen Vento Comfortline Diesel', 'Tata Indigo CS GLS',
       'Ford Figo Petrol Titanium', 'Honda City ZX GXi',
       'Maruti Suzuki Wagon R Duo Lxi', 'Maruti Suzuki Zen LX BSII',
       'Renault Duster RxL Petrol', 'Maruti Suzuki Baleno Zeta 1.2',
       'Honda WR V S MT Petrol', 'Renault Duster 110 PS RxL Diesel',
       'Mahindra Scorpio LX BS III',
       'Maruti Suzuki SX4 Celebration Diesel',
       'Audi A3 Cabriolet 40 TFSI',
       'I want to sell my commercial car due t',
       'Hyundai Santro AE GLS Audio',
       'i want sale my car.no emi....uber atta', 'Tata ZEST 6 month old',
       'Mahindra Xylo D2 BS IV', 'Hyundai Getz GLE',
       'Hyundai Creta 1.6 SX', 'Hyundai Santro Xing XL AT eRLX Euro III',
       'Hyundai Santro Xing XL eRLX Euro III',
       'Tata Indica V2 DLS BS III', 'Honda City 1.5 E MT',
       'Nissan Micra XL', 'Honda City 1.5 S Inspire',
       'Tata Indica eV2 eXeta eGLX', 'Maruti Suzuki Omni E 8 STR BS IV',
       'MARUTI SUZUKI ERTIGA F', 'Hyundai Verna 1.6 CRDI SX Plus AT',
       'Chevrolet Tavera LS B3 10 Seats BSII', 'Tata Tiago Revotron XM',
       'Tata Tiago Revotorq XZ', 'Tata Nexon', 'Tata',
       'Hindustan Motors Ambassador Classic Mark 4 – Befo',
       'Ford Fusion 1.4 TDCi Diesel',
       'Fiat Linea Emotion 1.4 L T Jet Petrol',
       'Ford Ikon 1.3 Flair Josh 100', 'Tata Indica V2 LS',
       'Mahindra Xylo D2', 'Hyundai Eon Magna',
       'Tata Sumo Grande MKII GX', 'Volkswagen Polo Highline1.2L P',
       'Tata Tiago Revotron XZ', 'Tata Indigo eCS',
       '2012 Tata Sumo Gold f', 'Mahindra Xylo E8 BS IV',
       'Well mentained Tata Sumo',
       'all paper updated tata indica v2 and u',
       'Maruti Ertiga showroom condition with',
       '7 SEATER MAHINDRA BOLERO IN VERY GOOD', '9 SEATER MAHINDRA BOL',
       'scratch less Tata I', 'Maruti Suzuki swift dzire for sale in',
       'Commercial Chevrolet beat for sale in',
       'urgent sell my Mahindra qu', 'Tata Sumo Gold FX BSIII',
       'sell my car Maruti Suzuki Swif',
       'Maruti Suzuki Swift Dzire good car fo', 'Hyunda',
       'Commercial Maruti Suzuki Alto Lxi 800', 'urgent sale Ta',
       'Maruti Suzuki Alto vxi t', 'tata', 'TATA INDI', 'Hyundai Creta',
       'Tata Bolt XM Petrol', 'Hyundai Venue', 'Maruti Suzuki Ritz',
       'Renault Lodgy', 'Hyundai i20 Asta',
       'Maruti Suzuki Swift Select Variant', 'Tata Indica V2 DLX BS III',
       'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV',
       'Toyota Innova 2.5 E 8 STR', 'Mahindra KUV100 K8 6 STR',
       'Datsun Go Plus', 'Ford Endeavor 4x4 Thunder Plus',
       'Tata Indica V2', 'Hyundai Santro Xing GL',
       'Toyota Innova 2.5 Z Diesel 7 Seater',
       'Any type car avaiabel hare...comercica', 'Maruti Suzuki Alto AX',
       'Mahindra Logan', 'Maruti Suzuki 800 Std BS III',
       'Chevrolet Sail 1.2 LS',
       'Volkswagen Vento Highline Plus 1.5 Diesel', 'Tata Manza',
       'Toyota Innova 2.0 G1 Petrol 8seater', 'Toyota Etios G',
       'Toyota Qualis', 'Mahindra Quanto C4', 'Maruti Suzuki Swift Dzire',
       'Hyundai i20 Select Variant', 'Honda City VX Petrol',
       'Hyundai Getz', 'Mercedes Benz C Class 200 K MT', 'Skoda Fabia',
       'Maruti Suzuki Alto 800 Select Variant',
       'Maruti Suzuki Ritz VXI ABS', 'tata zest 2017 f',
       'Tata Indica V2 DLE BS III', 'Ta', 'Tata Zest XM Diesel',
       'Honda Amaze 1.2 E i VTEC', 'Chevrolet Sail 1.2 LT ABS'],
      dtype=object)

In [10]:
car["kms_driven"].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [11]:
car["Price"].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [12]:
car["year"]

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
887    zest
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 892, dtype: object

In [14]:
car= car[car["year"].str.isnumeric()]

In [15]:
car["year"]= car["year"].astype(int)

In [16]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [17]:
car= car[car["Price"] != "Ask For Price"]

In [20]:
car["Price"]= car["Price"].str.replace(",","").astype(int)

In [21]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [26]:
car["kms_driven"]= car["kms_driven"].str.split(' ').str.get(0).str.replace(",", '')

In [27]:
car["kms_driven"]

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890    Petrol
891    Petrol
Name: kms_driven, Length: 819, dtype: object

In [29]:
car= car[car["kms_driven"].str.isnumeric()]

In [30]:
car["kms_driven"] = car["kms_driven"].astype(int)

In [31]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [34]:
car= car[~car["fuel_type"].isna()]

In [35]:
car["fuel_type"].isna()

0      False
1      False
3      False
4      False
6      False
       ...
883    False
885    False
886    False
888    False
889    False
Name: fuel_type, Length: 816, dtype: bool

In [39]:
car["name"]= car["name"].str.split(" ").str.slice(0, 3).str.join(" ")

In [40]:
car["name"] = car["name"].astype(str)

In [41]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [42]:
car = car.reset_index(drop=True)

In [43]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [44]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [48]:
car[car["Price"]> 6e6]

                   name   company  year    Price  kms_driven fuel_type
534  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

In [49]:
car =car[car["Price"]< 6e6].reset_index(drop=True)

In [51]:
car[car["year"] > 2015].count

<bound method DataFrame.count of                        name   company  year    Price  kms_driven fuel_type
6    Ford EcoSport Ambiente      Ford  2016   830000       24530    Diesel
14                  Audi A8      Audi  2017  1000000        4000    Petrol
16     Mahindra Scorpio S10  Mahindra  2016   350000       43000    Diesel
18     Mahindra Scorpio S10  Mahindra  2016   350000       43000    Diesel
19     Mahindra Scorpio S10  Mahindra  2016   310000       39522    Diesel
..                      ...       ...   ...      ...         ...       ...
801     Maruti Suzuki Dzire    Maruti  2016   325000      150000    Diesel
802       Hyundai Elite i20   Hyundai  2018   510000        2100    Petrol
803           Honda City VX     Honda  2016   860000       95000    Petrol
804     Maruti Suzuki Dzire    Maruti  2016   450000        2500    Diesel
813            Tata Zest XM      Tata  2018   260000       27000    Diesel

[175 rows x 6 columns]>

In [55]:
car[car["kms_driven"]> 200000]

               name company  year   Price  kms_driven fuel_type
348  Honda City 1.5   Honda  2010  240000      400000    Petrol

In [58]:
car= car[car["kms_driven"] <500000].reset_index(drop=True)

In [60]:
car.describe()

              year         Price     kms_driven
count   811.000000  8.110000e+02     811.000000
mean   2012.459926  4.019625e+05   45272.298397
std       3.989716  3.816371e+05   30668.740753
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56200.000000
max    2019.000000  3.100000e+06  195000.000000

In [61]:
car[car["kms_driven"] > 200000]

Empty DataFrame
Columns: [name, company, year, Price, kms_driven, fuel_type]
Index: []

In [62]:
car.to_csv("Cleaned_quikr.csv")

In [83]:
X= car.drop(columns="Price")
y = car["Price"]

In [87]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
806    270000
807    110000
808    300000
809    260000
810    390000
Name: Price, Length: 811, dtype: int64

In [114]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test= train_test_split(X,y, test_size=0.2)

In [142]:
X_train

                     name   company  year  kms_driven fuel_type
156    Hyundai i20 Sportz   Hyundai  2014       60000    Diesel
383    Maruti Suzuki Omni    Maruti  2001       70000    Petrol
25   Maruti Suzuki Vitara    Maruti  2016       15975    Diesel
108      Hyundai i20 Asta   Hyundai  2012       36200    Diesel
282    Hyundai Accent GLX   Hyundai  2006       56000    Petrol
..                    ...       ...   ...         ...       ...
154   Maruti Suzuki Swift    Maruti  2010       43200    Diesel
317           Skoda Laura     Skoda  2013       50000    Diesel
734    Maruti Suzuki Alto    Maruti  2003       60000    Petrol
29   Mahindra Scorpio S10  Mahindra  2015       48508    Diesel
283    Mahindra TUV300 T4  Mahindra  2016        9000    Diesel

[648 rows x 5 columns]

In [134]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [116]:
ohe = OneHotEncoder()
ohe.fit(X[['name','company', 'fuel_type']])

OneHotEncoder()

In [154]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aura', 'Tata Manza ELAN', 'Tata Nano', 'Tata Nano Cx',
        'Tata Nano GenX', 'Tata Nano LX', 'Tata Nano Lx', 'Tata Sumo Gold',
        'Tata Sumo Grande', 'Tata Sumo Victa', 'Tata Tiago Revotorq',
        'Tata Tiago Revotron', 'Tata Tigor Revotron', 'Tata Venture EX',
        'Tata Vista Quadrajet', 'Tata Zest Quadrajet', 'Tata Zest XE',
        'Tata Zest XM', 'Toyota Corolla', 'Toyota Corolla Altis',
        'Toyota Corolla H2', 'Toyota Etios', 'Toyota Etios G',
        'Toyota Etios GD', 'Toyota Etios Liva', 'Toyota Fortuner',
        'Toyota Fortuner 3.0', 'Toyota Innova 2.0', 'Toyota Innova 2.5',
        'Toyota Qualis', 'Volkswagen Jetta Comfortline',
        'Volkswagen Jetta Highline', 'Volkswagen Passat Diesel',
        'Volkswagen Polo', 'Volkswagen Polo Comfortline',
        'Volkswagen Polo Highline', 'Volkswagen Polo Highline1.2L',
        'Volkswagen Polo Trendline', 'Volkswagen Vento Comfortline',
        'Volkswagen Vento Highline', 'Volkswagen Vento Konekt',
        'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [155]:
col_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_), ['name', 'company', 'fuel_type']), remainder='passthrough')

In [156]:
lr = LinearRegression()

In [157]:
pipe = make_pipeline(col_trans, lr)

In [158]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [159]:
y_predict = pipe.predict(X_test)

In [160]:
r2_score(y_test, y_predict)

0.5097885224180021

In [190]:
scores = []
for i in range(1000):
    X_train, X_test,y_train, y_test= train_test_split(X,y, test_size=0.08, random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(col_trans, lr)
    pipe.fit(X_train,y_train)
    y_predict = pipe.predict(X_test)
    print(r2_score(y_test, y_predict), i)
    scores.append(r2_score(y_test, y_predict))

0.6093360532132774 0
0.8342025489813728 1
0.5340081166290396 2
0.5455240139438688 3
0.8152184855173847 4
0.494305412731593 5
0.6784425813855508 6
0.7603236713382314 7
0.7964200141904437 8
0.74902029925119 9
0.6391091328652384 10
0.6351082708199933 11
0.5316500075086896 12
0.677764359486132 13
0.4501574064064776 14
0.7267127237552449 15
0.617380767203545 16
0.35289921286196424 17
0.5123841749792728 18
0.6357105500380489 19
0.31219162272388745 20
0.705455315923398 21
0.7897350971762486 22
0.790638248033044 23
0.5777991447236699 24
0.720752749794346 25
0.7207300376168917 26
0.7627424476493841 27
0.7899446214464442 28
0.7731317248658381 29
0.7373310175851109 30
0.6356791093895877 31
0.5976760396947949 32
0.47938558053152636 33
0.5908636539554868 34
0.7814565733922398 35
0.6461088048250707 36
0.5535112680000153 37
0.6549560949311224 38
0.8164076596006319 39
0.5185502689773321 40
0.6600669664569099 41
0.7553755436928755 42
0.4172871118227065 43
0.6944350889335258 44
0.8323452096618316 45
0.4647960150115322 46
0.38338361363942186 47
0.7716743458549782 48
0.7825041146814259 49
0.5723402272869949 50
0.5639430759582416 51
0.6216384668365467 52
0.57979433598386 53
0.6030494969123137 54
0.67143026551468 55
0.7531295090386629 56
0.6967211015266827 57
0.6148938042424721 58
0.6617280394647063 59
0.5976106497384556 60
0.8275379299610858 61
0.6445887618106625 62
0.6258377681056517 63
0.7707116552033592 64
0.7455412070029579 65
0.8719363611936299 66
0.8024886354099542 67
0.6317414070327634 68
0.47716598581283276 69
0.4672613844658313 70
0.5855145432924505 71
0.7532762110864164 72
0.5461880126940677 73
0.6460868703757223 74
0.22292895255650058 75
0.08753912537043773 76
0.8104282908468381 77
0.7171999545734702 78
0.7480656817108562 79
0.749984347201367 80
0.6638797050635071 81
0.778173207997484 82
0.7596921974629459 83
0.6552414697595189 84
0.6668511236640489 85
0.8284286816568788 86
0.26423054413211244 87
0.6890025133175669 88
0.7160700908677947 89
0.5539978473303622 90
0.7749051796169789 91
0.5806979419698028 92
0.6821538304952282 93
0.3146241955278921 94
0.5964480679342449 95
0.6756345933861945 96
0.7596568085946107 97
-0.4964403978375238 98
0.5478707716140154 99
0.4169617131936407 100
0.7968661225112237 101
0.48149267917994465 102
0.6247672959640322 103
0.5700304982782558 104
0.6871322656343908 105
0.5923087886037676 106
0.6615680579266248 107
0.6504557586816547 108
0.7322128667272798 109
0.8281277196324428 110
0.6772321746095136 111
0.6383352215271553 112
0.6616161492929831 113
0.8332029566701586 114
0.5543993391179685 115
0.7319037067740661 116
0.8088248114053314 117
0.4276428414837058 118
0.6551237398990057 119
0.5838058219862842 120
0.47593950358190495 121
0.5902394712006758 122
0.3389599479543648 123
0.810272668059536 124
0.4593706289213917 125
0.8447389831209928 126
0.7476230029189288 127
0.6297062292866724 128
0.7396477731322666 129
0.761304128443351 130
0.7367980472114086 131
0.5795745381264013 132
0.6923093692670512 133
0.8427118228128981 134
0.7012614371869441 135
0.6711337950820073 136
0.787772298409417 137
0.7018197289469048 138
0.28986971753853297 139
0.7188129899543191 140
0.40999554311611885 141
0.38910027643663214 142
0.7401593925945411 143
0.8061558611474414 144
0.7465942571932289 145
0.6364268356041408 146
0.6984670540903448 147
0.6795085766592335 148
0.6130328699437658 149
0.8308503196102208 150
0.7749499995567274 151
0.5545587462213897 152
0.5129885553892121 153
0.6939819233955873 154
0.7771597592441677 155
0.455228243548772 156
0.3744681223113173 157
0.6688258292870346 158
0.7936176108143691 159
0.6092872813512802 160
0.5743570596551666 161
0.3262286940238691 162
0.38835735477430755 163
0.6723506504968676 164
0.6069899417662779 165
0.6106669867623056 166
0.4263920413378789 167
0.54691471958318 168
0.6389352382671509 169
0.7030606845770184 170
0.8058172294865313 171
0.7914700947908342 172
0.7409616276983549 173
0.2699336298916091 174
0.7562903606095269 175
0.7047260109082266 176
0.8067804350484611 177
0.677827674945971 178
0.6770161999123827 179
0.7333741477505646 180
0.6658884346456637 181
0.8137588620472027 182
0.7670258471543531 183
0.7165109432474104 184
0.9153556615286832 185
0.7684310885127248 186
0.7902635903695288 187
0.5427636090003461 188
0.6970402966350264 189
0.6026528947312197 190
0.8168475875188288 191
0.410265243835537 192
0.575981069538162 193
0.6966897074026717 194
0.5667733242968968 195
0.41068205224093346 196
0.7500996149412598 197
0.7830390914840064 198
0.6670648348535565 199
0.6072441468577997 200
0.6661256666435655 201
0.5874591883021307 202
0.6710995813563889 203
0.5926884452902808 204
0.6166161726848041 205
0.575466449188159 206
0.6407850485588735 207
0.7050558030624907 208
0.6957742899346084 209
0.8350535762763481 210
0.7092726792422096 211
0.480669501754027 212
0.5864887639268941 213
0.6646804344718817 214
0.729072149472286 215
0.7991815949894814 216
0.6295201800097043 217
0.5781274671230031 218
0.4390091246430473 219
0.5485068068945441 220
0.676528909121842 221
0.8137753959127816 222
0.603373617421666 223
0.5797363875179028 224
0.5844425059206506 225
0.749723193680701 226
0.49798296966780087 227
0.6853822533806003 228
0.7001224212239727 229
0.8410465844981447 230
0.5138923265034008 231
0.24711102821635522 232
0.6089147094994263 233
0.6492719112683412 234
0.7322332119100733 235
0.48249587639445435 236
0.7854573845317342 237
0.571027295950595 238
0.7238061414732672 239
0.7198618010477544 240
0.701541834629743 241
0.47791401595624217 242
0.7271829993891409 243
0.4410402808269205 244
0.5585784226221624 245
0.6630034461453164 246
0.5024905580949441 247
0.5750667758465611 248
0.24066313654243443 249
0.7682289130547002 250
0.7043250032824853 251
0.4735774149800085 252
0.7668200885424052 253
0.7959579020117374 254
0.8361766560707915 255
0.6466474192016118 256
0.6355465804199323 257
0.6194940678049138 258
0.4290205229905124 259
0.5785830336412562 260
0.6056569216287322 261
0.6872176494330948 262
0.7819491706857482 263
0.6942404754536231 264
0.27771653205580316 265
0.7513816653828881 266
0.6574317069380857 267
0.6830470396231001 268
0.6272614437001176 269
0.6232824480392436 270
0.7987062895519577 271
0.7423897234278709 272
0.6364324047306777 273
0.6066085783277998 274
0.8012944204411596 275
0.6853483628891173 276
0.48392070759381955 277
0.5431548594606075 278
0.7915299124579633 279
0.7959606445521042 280
0.6111010272223862 281
0.613525598832684 282
0.7498424644192185 283
0.7995833872226413 284
0.8254291069320657 285
0.8973633886308705 286
0.8527033647199974 287
0.48822168771132846 288
0.784805577900836 289
0.4321862367148728 290
0.7310955722038079 291
0.8204859167985372 292
0.6463714359935027 293
0.6412158452360743 294
0.72028177157337 295
0.7745080684518437 296
0.6844387071494019 297
0.6389760338355224 298
0.564942193621065 299
0.7506171550085986 300
0.38492051144840744 301
0.6999075591447916 302
0.4426152858731657 303
0.5793054306949519 304
0.7279784523552156 305
0.4399019409859809 306
0.657654105056706 307
0.6004585781734322 308
0.5212860152392728 309
0.3853790692313911 310
0.6724866847053548 311
0.7664030930243484 312
0.6719856364748786 313
0.784091361114212 314
0.7885786205467605 315
0.3846612459298482 316
0.7549180247952527 317
0.7635920871672908 318
0.6670882834585957 319
0.8272820392574181 320
0.5488548665248568 321
0.7760406207616773 322
0.7401559275643164 323
0.7696707112286469 324
0.7170955838294656 325
0.6131681587321287 326
0.865544815194649 327
0.7475789703311553 328
0.594954362749121 329
0.6901029010295104 330
0.5912416407312764 331
0.7104794384596952 332
0.637284727732732 333
0.7613856533263857 334
0.5979729407449689 335
0.6733956858522088 336
0.6325088857306811 337
0.7397888013226499 338
0.7298618747709369 339
0.663749505182166 340
0.784922885762563 341
0.7474644574187836 342
0.27014051856988586 343
0.6009883422394493 344
0.7820413655605092 345
0.7577662887299041 346
0.7717616487117378 347
0.6295427527685539 348
0.6063395810936447 349
0.6139625791711545 350
0.6950165076732576 351
0.7844615044904495 352
0.1895114208675478 353
0.5899795131697154 354
0.5596481694948636 355
0.6173624766848209 356
0.8279509591943484 357
0.6967931151446028 358
0.6185144714134745 359
0.3019774656472328 360
0.6003080589880194 361
0.6100531522881859 362
0.6429397879573885 363
0.7862939879703725 364
0.6361351938625716 365
0.654897417356313 366
0.7462260998742465 367
0.5356391903994735 368
0.7666318724511866 369
0.8385785200900212 370
0.4353420592964353 371
0.696150372898495 372
0.30048388553736016 373
0.4803865793871842 374
0.3710308226592399 375
0.6232121492832922 376
0.5455630882462914 377
0.7092951647286325 378
0.4107267292545923 379
0.34645785757066283 380
0.8107443800674771 381
0.7374365360013339 382
0.4892426719285331 383
0.6385100730414572 384
0.6770189366927535 385
0.7441744128526235 386
0.7477842099260238 387
0.5759218582981133 388
0.6172772730141969 389
0.8207960104466712 390
0.5374569331581474 391
0.8249860806983651 392
0.5885746644108534 393
0.5058801546084268 394
0.8511992846636207 395
0.35897619865146646 396
0.7069034675199153 397
0.8139735701499721 398
0.6376452197174792 399
0.7175234594153086 400
0.5413829711507145 401
0.6328269253809076 402
0.46864661894835347 403
0.5994557473323125 404
0.7405516317676035 405
0.7261839445517195 406
0.5782507820062383 407
0.8098311142823871 408
0.732664528244033 409
0.4260286862056478 410
0.7773562052556711 411
0.6151114859529025 412
0.4174667710081562 413
0.7317344551598216 414
0.6430566395421617 415
0.6808288626826948 416
0.7685270820460092 417
0.7641019639039421 418
0.42661014995898916 419
0.6107469161058211 420
0.865552687934179 421
0.6887193342599661 422
0.4389661511946982 423
0.6779617674308248 424
0.6561654769473235 425
0.7046314483515356 426
0.7530232588031014 427
0.6206098593038447 428
0.5764178368736259 429
0.5859006021281463 430
0.868253532498723 431
0.6545282463328279 432
0.7713680101893542 433
0.514954895630777 434
0.7321987384692836 435
0.7547470832303663 436
0.7778971503190233 437
0.5640671641180984 438
0.7452180756096489 439
0.7179413193241309 440
0.6714996514697678 441
0.6170817621528639 442
0.7282911759861711 443
0.3297215180855121 444
0.360283233373313 445
0.5361474922713949 446
0.8109578507808479 447
0.5772049335674745 448
0.5853254004120712 449
0.6581169445653481 450
0.758204171113088 451
0.7923249850713572 452
0.826137253444115 453
0.7767192829063849 454
0.6417792439104306 455
0.48425202202307216 456
0.6508989984559179 457
0.665198848266717 458
0.793830915520412 459
0.576965626820937 460
0.6569781300134911 461
0.7165557209002003 462
0.7499952617375136 463
0.6076908962026062 464
0.6267741953928869 465
0.6868215536309473 466
0.6114619199870467 467
0.5435491264044582 468
0.8152714309351246 469
0.66819741151595 470
0.7470412056333494 471
0.7954558875997935 472
0.8130306970486925 473
0.753505151821938 474
0.5635120722199058 475
0.7894674273296778 476
0.6356706225262834 477
0.5396008255650564 478
0.634920162774804 479
0.5050508119315884 480
0.7553984587991744 481
0.7881659036624995 482
0.7822873033255877 483
0.7631559533575225 484
0.3737626932934356 485
0.6477863428720683 486
0.5320162090606908 487
0.5770492887303715 488
0.673975327323083 489
0.8242729422917393 490
0.7155891095559542 491
0.42211241089056106 492
0.4511390217283685 493
0.8648245700441151 494
0.5513699299323425 495
0.7851833727774514 496
0.7502676675855302 497
0.43609053090699723 498
0.4101675273423151 499
0.7776342366244537 500
0.8099832852526745 501
0.6516812337785904 502
0.7518961564868372 503
0.600658909796383 504
0.5469544009495466 505
0.6101008740521069 506
0.6883444238755279 507
0.41651303367911663 508
0.6508087664741655 509
0.6413677156043107 510
0.8161117577365653 511
0.6710599763537595 512
0.7236344600208701 513
0.6460910535005384 514
0.46628992021753524 515
0.7332308991102501 516
0.7740770417775344 517
0.5039110704721642 518
0.40036969649312737 519
0.7579664965826622 520
0.6419743309577928 521
0.5702324932069036 522
0.7179720695665073 523
0.7845736193210221 524
0.5846985725639637 525
0.5388507369619293 526
0.6279682022728207 527
0.713414606308131 528
0.7706545552976484 529
0.6902175995028224 530
0.65107150329111 531
0.64910578156517 532
0.7752263734387206 533
0.7189957683374442 534
0.8249331431630426 535
0.7134901047065876 536
0.6654891416255547 537
0.7055171149319792 538
0.43811490310152945 539
0.4449479401436841 540
0.6500945283232152 541
0.565968373846804 542
0.28831795995229825 543
0.5447431984129685 544
0.6313346699210671 545
0.6980599936700824 546
0.15100783727246514 547
0.8111123375982078 548
0.5661939718102826 549
0.33488045288002843 550
0.5763390963547003 551
0.6076984323256116 552
0.5747465722891538 553
0.7111660463600052 554
0.6835004202796433 555
0.2496733372408504 556
0.5482216926466968 557
0.6719994650170432 558
0.7710423344427988 559
0.5524074599524791 560
0.6897078231979182 561
0.6333922993569485 562
0.46738526023038063 563
0.6880431479984295 564
0.5944899156251047 565
0.600330261649054 566
0.7754416361107678 567
0.709907041404887 568
0.6356525659371122 569
0.4356936710930479 570
0.5083231162202524 571
0.3601127203679514 572
0.6160934615974063 573
0.2986260995552489 574
0.8036945120112672 575
0.6888149529647134 576
0.8770333316506568 577
0.454593297991024 578
0.42855596961926323 579
0.4114079282967654 580
0.662423588706206 581
0.7942470153084848 582
0.5672185736457136 583
0.7940537476626303 584
0.5844429735876927 585
0.6779480970594012 586
0.8065355804107606 587
0.716813016213899 588
0.6714539208595702 589
0.6691179031696226 590
0.7111747936610517 591
0.5111712464031252 592
0.5802037335012549 593
0.7197647342512541 594
0.4970673646137129 595
0.5553864632367193 596
0.37999722472940745 597
0.6078362038303866 598
0.4032028853338755 599
0.3961103607342755 600
0.58906066848068 601
0.6971584212733907 602
0.6790222530715404 603
0.6078944249225429 604
0.6234302178306627 605
0.8095219485353451 606
0.6781465816491218 607
0.836280079307871 608
0.7812921152872245 609
0.6028267126047149 610
0.7641222521670494 611
0.2972288785574053 612
0.652417889771832 613
0.27186213742579746 614
0.6579360361995052 615
0.5046884213009856 616
0.6742242836614601 617
0.45898883683075475 618
0.6940067176564959 619
0.6061672475075035 620
0.3626754102759391 621
0.6609023178042008 622
0.7179387953026939 623
0.47789537504306656 624
0.7099025445451084 625
0.713583970837128 626
0.7226697343363793 627
0.6174813312146403 628
0.5429621404052727 629
0.6391666185995948 630
0.679134879901797 631
0.6682303479934415 632
0.8514707424319431 633
0.7601469405840544 634
0.6074756791999922 635
0.672769821771509 636
0.8035493657094787 637
0.8706014602852885 638
0.6054066096221546 639
0.7828139240765981 640
0.7195331339843187 641
0.7772293528572093 642
0.5569201069555691 643
0.6679478232680864 644
0.6664187387607357 645
0.5083711341297845 646
0.6234306931182279 647
0.766071393192175 648
0.5397443479589532 649
0.7613462083579717 650
0.5498058610558266 651
0.5659860857867491 652
0.7752041188428175 653
0.8301277133820657 654
0.7791117438116901 655
0.6024935962387604 656
0.45907369817821986 657
0.545170530109883 658
0.5677931015197751 659
0.4509502714414507 660
0.7637734445058222 661
0.7765060926580062 662
0.8284717653410755 663
0.7806420283969948 664
0.6325987390115491 665
0.6198975842370594 666
0.6191328909688295 667
0.7290857437902551 668
0.8454840191436315 669
0.8206327370449827 670
0.7012711725149646 671
0.7024985795178973 672
0.7621704074293956 673
0.7920567520796311 674
0.6381825149817988 675
0.5537437100531849 676
0.4606903251138924 677
0.7995964124684904 678
0.6070103145509436 679
0.6470629652870998 680
0.8026980542741555 681
0.6163712650927696 682
0.5523333676049902 683
0.6118599018328343 684
0.6602869571902631 685
0.7551567492861357 686
0.6329366856679084 687
0.579492799432513 688
0.5844095673837936 689
0.3295007037850449 690
0.8531239613007637 691
0.5964607053392466 692
0.5548001607801261 693
0.5446924016065879 694
0.829022993872199 695
0.5672477943389211 696
0.6425491560481891 697
0.8337847295258427 698
0.7094715153713573 699
0.638179979637223 700
0.5133681362263767 701
0.6102908028037612 702
0.4926542132646977 703
0.706086505658281 704
0.6269874174848147 705
0.6452446526095141 706
0.5053329909740625 707
0.7283540403306406 708
0.6799340450365825 709
0.3797840719192931 710
0.7148863604138953 711
0.6628143854609327 712
0.7173492605269614 713
0.4510973796702433 714
0.6187315761783322 715
0.4342572551295194 716
0.5193841295124266 717
0.5976958112920726 718
0.6667654234165126 719
0.6372325368521112 720
0.6768324218968242 721
0.5907083328830223 722
0.6868903573549096 723
0.5279067287351026 724
0.37345359180689675 725
0.6741363018903845 726
0.5328481018913049 727
0.7154754367593784 728
0.6362489128874464 729
0.5962590688259714 730
0.6681939270351877 731
0.4955714026462239 732
0.3277230127414733 733
0.7389249268586084 734
0.5742635126883731 735
0.6070188047143714 736
0.6661102705601909 737
0.5696386205948502 738
0.660329435227305 739
0.760640278285375 740
0.8205991996419979 741
0.6150306355879165 742
0.6807726853358957 743
0.5333506771489636 744
0.8122416476412192 745
0.7934944964456645 746
0.5397212407420592 747
0.3063649894536894 748
0.568527903734714 749
0.6604213452631973 750
0.716566540084048 751
0.7013770104964501 752
0.6282093361232033 753
0.4579124586472184 754
0.4919374563546328 755
0.5855501546204904 756
0.7260215799752956 757
0.623466320439553 758
0.6166030613970407 759
0.5481817765092516 760
0.7947679873139464 761
0.7148640864303915 762
0.6686391719874963 763
0.8283496417394797 764
0.7249883464221345 765
0.6893790533184379 766
0.814012219111138 767
0.6028297779325245 768
0.5609659776493434 769
0.7741242548073586 770
0.6016905364444101 771
0.5836774802834771 772
0.8351077300816547 773
0.42762682842669875 774
0.8182637982549742 775
0.04638687584585521 776
0.5408220196965763 777
0.21993955333931492 778
0.6846976047511817 779
0.7894331978366633 780
0.48090504178627713 781
0.6000946624472576 782
0.6029526757431116 783
0.627422950629215 784
0.7973083920226471 785
0.40525298577148117 786
0.7655902301235777 787
0.6654434809191481 788
0.6945773812119189 789
0.726762224374253 790
0.7810071852907807 791
0.6836599537399681 792
0.7025536844149454 793
0.3651868615752175 794
0.636077696209012 795
0.5100315389918221 796
0.26546593776620997 797
0.5993465831352907 798
0.5034815487278117 799
0.6330792084644814 800
0.6782959640999924 801
0.7345934947722292 802
0.6195027312832699 803
0.7396434917513879 804
0.8084802992185828 805
0.44672922148335137 806
0.717892705603441 807
0.7202586904894157 808
0.6656556763712694 809
0.07805627753420585 810
0.32200212000972483 811
0.7629286745517847 812
0.6393295835081901 813
0.8196409416460929 814
0.6805735781284097 815
0.6998654330648033 816
0.55141006789032 817
0.6422166536859887 818
0.724652008582248 819
0.7552840516520897 820
0.7326228655923465 821
0.7700511572791786 822
0.7539408081956657 823
0.4942324535471949 824
0.7071180799598198 825
0.702291050810033 826
0.6377209954700438 827
0.8654749571933176 828
0.5776758233681685 829
0.7186565522530102 830
0.6636881199062769 831
0.5715932202830593 832
0.22025189575747162 833
0.7117084241819129 834
0.8538782030780532 835
0.5821928784538947 836
0.154324045016211 837
0.7469939987716945 838
0.4934672610154549 839
0.6493506366444568 840
0.5645410797786248 841
0.6022118672698924 842
0.43488373305065187 843
0.6490408984967596 844
0.4155489126334725 845
0.6084937412988108 846
0.650434462494076 847
0.44707122560441426 848
0.8430283808232165 849
0.7468948365020258 850
0.6206501658936572 851
0.5259963280449125 852
0.6346201549292844 853
0.5890041079901098 854
0.6854096095841286 855
0.7451767559594553 856
0.6934511870706095 857
0.7705640155452145 858
0.24489458709733514 859
0.8230278504281596 860
0.8328070745309624 861
0.577493822158569 862
0.7425563139924125 863
0.656411028348427 864
0.6075459234916564 865
0.755904831859961 866
0.47130112665292534 867
0.5337336658362839 868
0.3407889508782683 869
0.4499971616893488 870
0.6652876952480682 871
0.810092098198859 872
0.7902598271315426 873
0.8306561387716753 874
0.7843338439493552 875

In [191]:
np.argmax(scores)

185

In [192]:
scores[np.argmax(scores)]

0.9153556615286832

In [193]:
    X_train, X_test,y_train, y_test= train_test_split(X,y, test_size=0.08, random_state= np.argmax(scores))
    lr = LinearRegression()
    pipe = make_pipeline(col_trans, lr)
    pipe.fit(X_train,y_train)
    y_predict = pipe.predict(X_test)
    r2_score(y_test, y_predict)

0.9153556615286832

In [194]:
import pickle

In [199]:
X_train

                      name   company  year  kms_driven fuel_type
808   Toyota Corolla Altis    Toyota  2009      132000    Petrol
63    Mahindra Scorpio SLE  Mahindra  2012       19000    Diesel
580  Skoda Octavia Classic     Skoda  2006       65000    Diesel
317            Skoda Laura     Skoda  2013       50000    Diesel
185             Honda City     Honda  2015       54000    Petrol
..                     ...       ...   ...         ...       ...
385      Hyundai Elite i20   Hyundai  2018        7800    Petrol
494   Maruti Suzuki Vitara    Maruti  2016       25000    Diesel
121     Maruti Suzuki Alto    Maruti  2017        5600    Petrol
606     Mahindra TUV300 T4  Mahindra  2016       29500    Diesel
256     Maruti Suzuki Ritz    Maruti  2013       33000    Diesel

[746 rows x 5 columns]

In [195]:
pickle.dump(pipe, open("LinearRegressionModel.pkl", 'wb'))

In [202]:
pipe.predict(pd.DataFrame([["Toyota Corolla Altis", "Toyota", 2019, 2000, "Petrol"]], columns=["name", 'company', "year","kms_driven", "fuel_type"]))

array([478302.50910623])